@use 'vars' as *;
@use 'mixins' as *;

.wg-button {
  @include font-base(1rem, 500, 19px, normal);

  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  padding: 8px 12px;

  &:hover {
    transition: all 0.2s ease-in;
  }

  &:active {
    transition: all 0.2s ease-in;
  }

  &:disabled {
    cursor: initial;
    pointer-events: none;
  }

  & app-icon {
    & svg {
      & path,
      & circle {
        transition: all 0.2s ease-in;
      }
    }
  }

  &.grey {
    color: $dark-blue;
    background: $dark-grey;

    &:hover {
      color: $light-gray;

      & app-icon {
        @include svg-fill-without-deep($light-gray);
      }

      &.stroke {
        & app-icon {
          @include svg-stroke-without-deep($light-gray);
        }
      }
    }

    &:active {
      color: $dark-blue;
    }

    &:disabled {
      color: $light-gray;

      & app-icon {
        @include svg-fill-without-deep($light-gray);
      }

      &.stroke {
        & app-icon {
          @include svg-stroke-without-deep($light-gray);
        }
      }
    }

    app-icon {
      @include svg-size(18px, 18px);
      @include svg-fill-without-deep($dark-blue);
    }

    &.stroke {
      & app-icon {
        @include svg-stroke-without-deep($dark-blue);
      }
    }
  }
}
