 @use 'vars' as *;
 @use 'mixins' as *;
 @use 'extends' as *;

@mixin tm-modal($width: 500px) {
  .mat-mdc-dialog-surface {
    border-radius: 10px;
  }

  .modal {
    max-width: $width;
    min-width: $width;
  }

  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 8px;
    padding: 24px 24px 0;

    .title {
      @include font-base(24px, 700, 38px, normal);

      //color: $black;
    }
  }

  .modal-main {
    @extend .scroll-bar;

    max-height: 400px;
    overflow-y: auto;
    padding: 0 24px;
  }

  .modal-footer {
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin: 32px 0 0;
    padding: 0 24px 24px;

    & .btn {
      height: 36px;
      width: 160px;
    }
  }
}

.cdk-overlay-dark-backdrop {
  background-color: rgb(52 64 84 / 70%);
}
