@use 'vars' as *;
@use 'mixins' as *;
@use 'extends' as *;

@mixin tm-modal($width: 500px) {
  .mat-mdc-dialog-surface {
    border-radius: 10px;
  }

  .modal {
    min-width: $width;
    max-width: $width;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 8px 0;
    padding: 24px 24px 0 24px;

    & .title {
      @include font-base(24px, 700, 38px, normal);

      color: $black;
    }
  }

  .modal-main {
    @extend .scroll-bar;

    padding: 0 24px;
    overflow-y: auto;
    max-height: 400px;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin: 32px 0 0 0;
    padding: 0 24px 24px 24px;

    & .btn {
      width: 160px;
      height: 36px;
    }
  }
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(52, 64, 84, 0.7);
}
