@use "mixins" as *;
@use "vars" as *;

.component {
  display: flex;
  align-items: center;
  gap: 24px;

  .card {
    cursor: pointer;
    border-radius: 20px;
    background-color: $white;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;

    &:hover {
      box-shadow: 0 0 0 2px rgba(186, 186, 186, 0.10);
    }

    .card-img {
      flex: 1;

      &.files {
        margin: 55px auto 0 auto;
        width: 289px;
        height: 224px;
      }

      &.images {
        margin: 75px auto 0 auto;
        width: 175px;
        height: 175px;
      }
    }

    .title {
      @include font-base(1.5rem, 600, normal, normal);

      color: $black;
      margin: 35px auto 0 32px;
    }

    .subtitle {
      @include font-base(0.9rem, 400, normal, normal);

      color: $light-gray;
      margin: 6px auto 27px 32px;
    }
  }
}
