<section class="component">
  <section class="card" (click)="select.emit('video')">
    <img class="card-img files" src="assets/images/files.png" alt="files-img" />
    <p class="title">Upload videos</p>
    <p class="subtitle">You will only be able to upload videos</p>
  </section>
  <section class="card" (click)="select.emit('img')">
    <img class="card-img images" src="assets/images/image.png" alt="img-img" />
    <p class="title">Upload images</p>
    <p class="subtitle">You will only be able to upload photos</p>
  </section>
</section>
