body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  background-color: #264653;
  border-radius: 5px;
  color: whitesmoke;
  display: flex;
  font-family: SansSerif, sans-serif;
  font-size: 25px;
  font-style: normal;
  height: 150px;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}

input {
  background: whitesmoke;
  border-image: initial;
  border-radius: 255px 25px 225px / 25px 225px 25px 255px;
  border-style: inset;
  border-width: 2px;
  font-size: 20px;
  font-style: italic;
  height: 50px;
  margin-left: 20px;
  outline: none;
  padding-left: 15px;
  width: 250px;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}

.icon-card {
  align-items: center;
  background-color: #d0d0d0;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 #264653;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  min-height: 250px;
  min-width: 250px;
  position: relative;
}

.icon-card svg {
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}
