@use 'vars' as *;

.scroll-bar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: $blue-hover;
    border-radius: 4px;
  }
}
