@use 'vars' as vars;

@mixin font-base(
  $size: 1rem,
  $font-weight: 400,
  $height: normal,
  $font-style: normal,
  $font-family: vars.$font-family-base
) {
  font: $font-weight $font-style #{$size}/#{$height $font-family};
}

@mixin svg-stroke($color) {
  &::ng-deep svg {
    & path,
    & circle {
      fill: none;
      stroke: $color;
    }
  }
}

@mixin svg-fill($color) {
  &::ng-deep svg {
    & path,
    & circle {
      fill: $color;
      stroke: none;
    }
  }
}

@mixin svg-fill-without-deep($color) {
  & svg {
    & path,
    & circle {
      fill: $color;
      stroke: none;
    }
  }
}

@mixin svg-stroke-without-deep($color) {
  & svg {
    & path,
    & circle {
      fill: none;
      stroke: $color;
    }
  }
}

@mixin svg-size($width, $height) {
  &::ng-deep svg {
    height: $height;
    width: $width;
  }
}

@mixin svg-size-without-deep($width, $height) {
  & svg {
    height: $height;
    width: $width;
  }
}

@mixin truncate($width) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $width;
}
