@use 'fonts' as fonts;

$color-border: #E2E2E2;
$white: #ffff;
$black: #09090B;
$light-gray: #71717A;
$orange: #EC452B;

//$gray: #344054;
//$blue: #1849a9;
//$blue-click: #194185;
//$blue-hover: #466fb2;
//$blue-shadow: #ebeeff;
//$white: #fff;
//$red: #f04438;
//$error: #fecdca;
//$gray-light: #d0d5dd;
//$black: #101828;
//$disabled: #f2f4f7;
//$disabled-text: #98a2b3;
//$grey-2: #475467;
//$grey-3: #e4e7ec;
//$grey-4: #667085;
//$blue-3: #d1e9ff;
//$green: #390;
//$warm: #fa9f47;
//$black-2: #0c111d;

// typography
$font-family-base: fonts.$inter;
$font-size-base: 14px;
$line-height-base: 20px;
